body,
html {
    height: 100%;
}

.bg {
    background-image: url("https://wallpapercave.com/uwp/uwp1991212.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}